@import "tailwindcss";
/* assets/base.css */
html, body {
    user-select: none;
    -webkit-user-select: none;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    /* 上面的安全区域在红米手机上可能不生效，参照https://www.cnblogs.com/xumengxuan/p/14788550.html*/
}
